.grid-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.bannerPersonagem{
    width: 320px;
    height: 45%;
    background-color: var(--azulMenu);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 40px 3px rgb(106, 254, 0);
}

.portalDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portalDiv h1 {
    color: rgba(106, 254, 0);
    margin-bottom: 0;
}

#portal {
    width: 90%;
    height: 90%;
}

.bannerPersonagem h3{
    color: var(--preto);
    margin-bottom: 5px;
}

#name{
    text-align: center;
}

#image{
    text-align: center;
}

#species{
    text-align: center;
    font-size: x-large;
}

#gender{
    text-align: center;
    font-size: x-large;
}

#portal{
    cursor: pointer;
}

.bannerPersonagem{
    margin: 0;
    gap: 0;
}

/* Media queries */
@media screen and (max-width: 303px) {
    .bannerPersonagem {
      width: 100%;
      background: none;
      color: var(--branco);

    } 
    .bannerPersonagem h3 {
      color: var(--branco);
    }
    .portalDiv h1 {
        display: none;
    }
    #portal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #portal img {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 267px) {
    #portal{
        display: none;
    }
}