/* Define estilos para o container da grade */
.grid-container {
    width: 100%; /* Define a largura como 100% */
    height: 100%; /* Define a altura como 100% */
    display: flex; /* Usa display flex para organizar o conteúdo */
    flex-direction: column; /* Define a direção flex como coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

/* Define estilos para a classe bannerPersonagem */
.bannerPersonagem {
    width: 30%; /* Define a largura como 30% */
    height: 45%; /* Define a altura como 45% */
    background-color: var(--azulMenu); /* Define a cor de fundo a partir de uma variável */
    border-radius: 10px; /* Define o raio do canto */
    display: grid; /* Usa display grid para organizar o conteúdo */
    gap: 10px; /* Define o espaçamento entre os elementos filhos */
    align-items: center; /* Centraliza verticalmente */
}

/* Define estilos para a classe portalDiv */
.portalDiv {
    display: flex; /* Usa display flex para organizar o conteúdo */
    flex-direction: column; /* Define a direção flex como coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

/* Define estilos para o título h1 dentro de portalDiv */
.portalDiv h1 {
    color: var(--azulMenu); /* Define a cor do texto */
    margin-bottom: 0; /* Remove a margem inferior */
}

/* Define estilos para o elemento com ID "portal" */
#portal {
    width: 100%; /* Define a largura como 100% */
    height: 100%; /* Define a altura como 100% */
}

/* Define estilos para o título h3 dentro de bannerPersonagem */
.bannerPersonagem h3 {
    color: var(--preto); /* Define a cor do texto */
    margin-bottom: 5px; /* Define a margem inferior */
}


#name{
    text-align: center;/* Centraliza o texto horizontalmente */
    
}

#image{
    text-align: center;/* Centraliza o texto horizontalmente */
}

#species{
    text-align: center;/* Centraliza o texto horizontalmente */
    font-size: x-large;/* Define o tamanho da fonte como x-large */
    
}

#gender{
    text-align: center;/* Centraliza o texto horizontalmente */
    font-size: x-large;/* Define o tamanho da fonte como x-large */
}

#portal {
    cursor: pointer; /* Define o cursor do mouse como um ponteiro */
}

/* Remove margens e espaçamentos internos da classe bannerPersonagem */
.bannerPersonagem {
    margin: 0;
    gap: 0;
}

/* Media queries para telas com largura máxima de 768px */
@media screen and (max-width: 768px) {
    .bannerPersonagem {
        width: 100%; /* Define a largura como 100% */
    }
}

/* Media queries para telas com largura máxima de 303px */
@media screen and (max-width: 303px) {
    .bannerPersonagem {
        width: 100%; /* Define a largura como 100% */
        background: none; /* Remove o plano de fundo */
        color: var(--branco); /* Define a cor do texto como branco */
    } 
    .bannerPersonagem h3 {
        color: var(--branco); /* Define a cor do texto como branco */
    }
    .portalDiv h1 {
        display: none; /* Oculta o título h1 dentro de .portalDiv */
    }
    #portal {
        display: flex; /* Define a exibição como flex */
        flex-direction: column; /* Define a direção flex como coluna */
        justify-content: center; /* Centraliza verticalmente */
        align-items: center; /* Centraliza horizontalmente */
    }
    #portal img {
        display: block; /* Define a exibição como bloco */
        margin: 0 auto; /* Centraliza horizontalmente a imagem */
    }
}

/* Media queries para telas com largura máxima de 267px */
@media screen and (max-width: 267px) {
    #portal {
        display: none; /* Oculta completamente o elemento com ID "portal" */
    }
}
