@font-face {
    font-family: 'rick' ;
    src: url(../assets/fonts/shlop\ rg.otf);
}

body {
    margin: 0;
    font-family: rick;
    box-sizing: border-box;
    --azulMenu: #69C8ECff;
    --azulEscuro: rgb(76, 0, 218);
    --verdeAlien: #08C952;
    --verdeLimao: #5CAD4A;
    --verdeMata: #208D45;
    --verdeGrama: #A7CB54;
    --verdeEscuro: #014c1d;
    --amareloBanana: #E5D93E;
    --preto: #0D0D0D;
    --pretoOpacidade: hsla(0, 0%, 5%, 0.5);
    --branco: #F0F2EB;

    background-image: url(../assets/images/ceu-estrelado.jpg);
}

a{
    text-decoration: none;
}
