* {
    padding: 0; /* Define a margem interna como zero */
    margin: 0; /* Define a margem externa como zero */
    box-sizing: border-box; /* Inclui preenchimento e borda no tamanho total */
    font-family: rick; /* Define a fonte padrão como 'rick' */
}

div label {
    font-size: x-large !important;/* Aumenta o tamanho da fonte para 'x-large' com !important para prioridade */
}

body {
    width: 100%; /* Largura total da janela do navegador */
    height: 100vh; /* Altura total da janela do navegador |vh e vw são úteis quando é preciso usar a largura ou a altura da viewport.*/
    display: flex; /* Usa um modelo flexível para posicionamento */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */    
}

.title{
    font-size: x-large;/* Define o tamanho da fonte como 'x-large' */
}

.container {
    width: 80%; /* Largura de 80% */
    height: 80vh; /* Altura de 80% da altura da janela do navegador */
    display: flex; /* Usa um modelo flexível para posicionamento */
}

.form-image {
    width: 50%; /* Largura de 50% */
    display: flex; /* Usa um modelo flexível para posicionamento */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    padding: 1rem; /* Adiciona preenchimento */
}

.form-image img {
    width: 35rem;/* Define a largura da imagem */
}

.form {
    width: 50%; /* Largura de 50% */
    display: flex; /* Usa um modelo flexível para posicionamento */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    flex-direction: column; /* Organiza os elementos em coluna */
    background-image: url(../assets/images/fundo-imput.jpg);/* Define uma imagem de fundo */
    box-shadow: 5px 5px 45px 4px bisque;/* Adiciona uma sombra */
    padding: 3rem;/* Adiciona preenchimento */
}

.form-header {
    margin-bottom: 3rem; /* Espaço inferior de 3rem */
    display: flex; /* Usa um modelo flexível para posicionamento dos elementos */
    justify-content: space-between; /* Distribui o espaço entre os elementos filhos */
}

.login-button {
    display: flex; /* Usa um modelo flexível para posicionamento dos elementos */
    align-items: center; /* Alinha os elementos verticalmente */
}

.login-button button a {
    text-decoration: none; /* Remove a decoração do link */
    font-weight: 500; /* Define o peso da fonte como 500 */
    color: var(--branco); /* Define a cor do texto como a variável '--branco' */
}

.form-header h1::after {
    content: ''; /* Adiciona conteúdo, que é uma linha, após o elemento h1 */
    display: block; /* Exibe o conteúdo como um bloco */
    width: 5rem; /* Define a largura da linha */
    height: 0.3rem; /* Define a altura da linha */
    background-color: #C587CA; /* Define a cor de fundo da linha */
    margin: 0 auto; /* Centraliza horizontalmente usando margens automáticas */
    position: absolute; /* Posição absoluta em relação ao elemento pai */
    border-radius: 10px; /* Define um raio de borda para a linha */
}

.input-group {
    display: flex; /* Usa um modelo flexível para posicionamento dos elementos */
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha quando não couberem */
    justify-content: space-between; /* Distribui o espaço entre os elementos filhos */
    padding: 1rem 0; /* Adiciona preenchimento na parte superior e inferior */  
}

.form-group {
    display: flex; /* Usa um modelo flexível para posicionamento dos elementos */
    flex-direction: column; /* Organiza os elementos em coluna */
    margin-bottom: 1.1rem; /* Espaço inferior de 1.1rem */
    font-size: large; /* Define o tamanho da fonte como 'large' */
}

.form-group input {
    margin: 0.6rem 0; /* Define margens superior e inferior */
    padding: 0.8rem 1.2rem; /* Define preenchimento */
    border: none; /* Remove a borda */
    border-radius: 10px; /* Define um raio de borda */
    box-shadow: 1px 1px 6px var(--azulMenu);/* Adiciona uma sombra */
    font-size: 12pt;/* Define o tamanho da fonte como 12pt */
    color: var(--preto); /* Define a cor do texto como a variável '--preto' */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;/* Define a família da fonte */
}

.form-group inpur::hover {
    background-color: var(--azulMenu);/* Muda a cor de fundo ao passar o mouse sobre */
}

.form-group input:focus-visible {
    outline: 1px solid rgba(0, 0, 255, 0.444);/* Adiciona uma borda ao elemento focado | propriedades de contorno */
}

.form-group label,
.grande-title h6{
    font-size: 0.75rem;  /*  é o tamanho de fonte do elemento-raiz do documento. o rem é constante em todo o documento.  */
    font-weight: 700;/* Define o peso da fonte como 700 */
    color: var(--preto);/* Define a cor do texto como a variável '--preto' */
}

.form-group input::placeholder{
    color: var(--pretoOpacidade); /* Define a cor do texto de espaço reservado como a variável '--pretoOpacidade' */
}

.gender-group {
    display: flex; /* Usa um modelo flexível para posicionamento dos elementos */
    justify-content: space-between; /* Distribui o espaço entre os elementos filhos */
    margin-top: 0.62rem; /* Margem superior de 0.62rem */
    padding: 0 0.5rem; /* Preenchimento na esquerda e direita de 0.5rem */
}

.gender-inpout {
    display: flex; /* Usa um modelo flexível para posicionamento dos elementos */
    align-items: center; /* Alinha os elementos verticalmente */
}

.gender-inpout input {
    margin-right: 0.35rem;/* Margem direita de 0.35rem */
}

.gender-input label {
    font-size: 1.2rem; /* Define o tamanho da fonte como 1.2rem */
    font-weight: 600; /* Define o peso da fonte como 600 */
    color: var(--preto); /* Define a cor do texto como a variável '--preto' */
}

.continue-button button {
    width: 100%; /* Largura total */
    margin-top: 2.5rem; /* Margem superior de 2.5rem */
    border: none; /* Remove a borda */
    background-color: var(--azulMenu); /* Define a cor de fundo como a variável '--azulMenu' */
    padding: 0.62rem; /* Adiciona preenchimento */
    border-radius: 5px; /* Define um raio de borda de 5px */
    cursor: pointer; /* Altera o cursor para uma mão quando passa sobre */
    font-size: 16pt; /* Define o tamanho da fonte como 16pt */
    color: var(--preto); /* Define a cor do texto como a variável '--preto' */
}

.continue-button button:hover {
    background-color: var(--azulEscuro); /* Muda a cor de fundo ao passar o mouse sobre */
}

.continue-button button a {
    text-decoration: none; /* Remove a decoração do link */
    font-size: 2rem; /* Define o tamanho da fonte como 2rem */
    font-weight: 500; /* Define o peso da fonte como 500 */
    color: var(--branco); /* Define a cor do texto como a variável '--branco' */
}

.linkLogin {
    margin-top: 50px; /* Margem superior de 50px */
    text-align: center; /* Centraliza o texto horizontalmente */
}

.linkLogin a {
    color: var(--preto); /* Define a cor do texto como a variável '--preto' */
    text-decoration: none; /* Remove a decoração do link */
}

.linkLogin a:hover {
    color: var(--azulEscuro); /* Muda a cor do texto ao passar o mouse sobre */
}

@media screen and (max-width: 768px) {/* Define regras de mídia para largura de tela máxima de 768px */
    .container {
      width: 100%;/* Largura total */
    }

    .form {
      width: 100%;/* Largura total */
    }
}

@media screen and (max-width: 1200px) {/* Define regras de mídia para largura de tela máxima de 1200px */
    .container{
        width: 90%; /* Largura de 90% */
        height: auto; /* Altura automática */
    }
    .input-group{
        flex-direction: column; /* Organiza os elementos em coluna */
        overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se necessário */
        flex-wrap: nowrap; /* Evita que os elementos quebrem para a próxima linha */
        max-height: 10rem; /* Altura máxima de 10rem */
        padding-right: 5rem; /* Preenchimento na direita de 5rem */
    }
}

@media screen and (max-width: 425px) {/* Define regras de mídia para largura de tela máxima de 425px */
    .form-image{
        display: none;/* Oculta a imagem */
    }
    
    .form {
      width: 100%;/* Largura total */
    }
}