@font-face {
    font-family: 'rick1' ;
    src: url(./assets/fonte/shlop_rg.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: rick1;
}
div label {
    font-size: x-large !important;
}
body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/imagens/ceu-estrelado.jpg);
       
}
.title{
    font-size: x-large;
}


.container {
    width: 80%;
    height: 80vh;
    display: flex;
}


.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.form-image img {
    width: 35rem;
}

.form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./assets/imagens/fundo-imput.jpg);
    box-shadow: 5px 5px 45px 4px bisque;
    padding: 3rem;

}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.login-button {
    display: flex;
    align-items: center;
}

.login-button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
}

.form-header h1::after {
   content: '';
   display: block;
   width: 5rem;
   height: 0.3rem;
   background-color: #C587CA;
   margin: 0 auto;
   position: absolute;
   border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    font-size: large;
    
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #04EAFC;
    font-size: large;
    
}

.input-box inpur::hover {
    background-color: #04EAFC;
}

.input-box input:focus-visible {
    outline: 1px solid rgba(0, 0, 255, 0.444);
}

.input-box label,
.grande-title h6{
    font-size: 0.75rem;
    font-weight: 700;
    color: rgb(6, 13, 16);
}

.input-box input::placeholder{
    color: rgba(0, 0, 0, 0.447);
}

.gender-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.gender-inpout {
    display: flex;
    align-items: center;
}

.gender-inpout input {
    margin-right: 0.35rem;
    
}

.gender-input label {
    font-size: 1.2rem;
    font-weight: 600;
    color: black;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #04EAFC;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: aquamarine;
}

.continue-button button a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

@media screen and (max-width: 768px) {
    .container {
      width: 100%;
    }

    .form {
      width: 100%;
    }
  }

@media screen and (max-width: 1600px) {
    .container{
        width: 90%;
        height: auto;
    }
    .input-group{
        flex-direction: column;
        overflow-y: scroll;
        flex-wrap: nowrap;
        max-height: 10rem;
        padding-right: 5rem;
    }
}
@media screen and (max-width: 425px) {
    .form-image{
        display: none;
    }
    
    .form {
      width: 100%;
    }
  }
