*{
    border: 0;
    bottom: 0;
}

@font-face {
    font-family: 'rick' ;
    src: url(./assets/fonts/get_schwifty.ttf);
}

body{
    background-image: url(./assets/images/ceu-estrelado.jpg);
    font-family: rick;
}

.portal{
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #69C8ECff;
    font-size: 7vh;
}

.rick-duo{
    width: 45vh;
}

.rick-div{
    display: flex;
    align-items: center;
    justify-content: center;    
    float: left;
}

footer a {
    color: rgba(14, 137, 244, 0.921);
    padding-left: 10px;
    text-align: center;
    
}

.fixarRodape {
    text-align: center;
    color: rgb(11, 135, 243);

}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
}