@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'rick' ;
    src: url(./assets/fonte/get_schwifty.ttf);
}

.grid-container{
    width: 100%;
    height: 100%;
    background-color: #160440;
    display: grid;
    gap: 10px;
    grid-template: 1fr;
}

.bannerPersonagem{
    width: 30vw;
    height: 45vw;
    background-color: #FCE46D;
    border-radius: 10px;
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 4fr 1fr 1fr;
    align-items: center;
}

#name{
    text-align: center;
}

#image{
    text-align: center;
}

#species{
    text-align: center;
}

#gender{
    text-align: center;
}


body {
    margin: 0;
    font-family: rick;
    box-sizing: border-box;
}
h3{
    color: rgb(255, 252, 249);
    cursor: pointer;
    
    
}


a {
    text-decoration: none;
}
.main-login {
    width: 100vw;
    height: 100vh;
    background-image: url(./assets/imagens/ceu-estrelado.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 54vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.left-login > h1 {
    color: #69C8ECff;
    font-size: 5vh;
}

.right-login {
    width: 50vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login-image{
    width: 55vh;

}
.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color:#69C8ECff;
    border-radius: 20px;
    box-shadow: 0px 10px 40px  #00000056;
}

.card-login > h1 {
    color: rgb(0, 0, 0);
    font-weight: 800;
    margin: 0;

}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color:#08C952;
    color: #ffffff;
    font-size: 12pt;
    box-shadow: 0px 10px 40px  #00000056;
    outline: none;
    box-sizing: border-box;
    font-family: rick;
    box-shadow: 0px 10px 40px -12px rgb(199, 137, 61);

}

.textfield > label {
    color: rgb(10, 38, 42);
    margin-bottom: 10px;
    
}

.textfield > input::placeholder {
    color: rgba(10, 38, 42, 0.491);
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: aliceblue;
    background-color:rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px rgb(199, 137, 61);
    font-family: rick;
}
footer a {
    color: aliceblue;
    padding-left: 10px;
    text-align: center;
    
}
.fixarRodape {
    text-align: center;
    color: aliceblue;

}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;

}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vh;
    }
    .card-login{
        width: 90%;
    }
    
}